<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
<title>Photo Display</title>
<link rel="stylesheet" type="text/css" href="/album/stylesheet"></link>
<script type="text/javascript" src="/album/template/key.js"></script>
</head>
<body>
<p class="fullwidth">This album is protected by a key. Use the form below to enter the key and you'll be redirected to the album. As an alternative you
can put the key into the url yourself, just replace the album id with the key.</p>
<p><input type="text" id="key"/> <button type="button" onclick="javascript:showAlbum();">Show Album</button></p>
</body>
</html>
